.rdg-text-editor {
    appearance: none;

    box-sizing: border-box;
    inline-size: 100%;
    block-size: 100%;
    box-sizing: border-box;
    inline-size: 100%;
    block-size: 100%;
    padding-block: 0;
    padding-inline: 6px;
    border: 2px solid #ccc;
    vertical-align: top;
    color: black;
    background-color: white;
    
    font-family: inherit;
    font-size: var(--rdg-font-size);

    &:focus {
        border-color: var(--rdg-selection-color);
        outline: none;
    }

    &::placeholder {
        color: #999;
        opacity: 1;
    }
}

.rdg-fkey-dropdown-editor {
    appearance: none;
    
    min-height: unset;
    box-sizing: border-box;
    inline-size: 100%;
    block-size: 100%;
    box-sizing: border-box;
    inline-size: 100%;
    block-size: 100%;
    padding-block: 0;
    padding-inline: 6px;
    border: 2px solid #ccc;
    vertical-align: top;
    color: black;
    background-color: white;

    font-family: inherit;
    font-size: var(--rdg-font-size);

    &:focus {
        border-color: var(--rdg-selection-color);
        outline: none;
    }

    &::placeholder {
        color: #999;
        opacity: 1;
    }
}